# Node
node_modules/

# SvelteKit build
.svelte-kit/

# Vite
dist/
.vite/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store

# Env
.env
.env.local

# IDE
.vscode/
.idea/

# Mac
*.swp
